@-ms-viewport {
  width: device-width;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
  &:before, &:after{
    box-sizing: inherit;
  }
}

html,
body,
  {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

#app {
  height: auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
}



@media screen and (min-width: 768) {
  #app { font-size: 12px;}
}

@media screen and (min-width: 1024) {
  #app { font-size: 12px; }
}

@media screen and (min-width: 1599px) {
  #app { font-size: 16px; }
}
